.header {
  background-color: #262626;
  color: #fff;
  align-items: top;
  padding: 0;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

.wallet-header {
  background-color: #262626;
  color: #fff;
  align-items: center;
  width: 100%;
}

.logo {
  text-align: center;
  font-size: 5.2em;
  font-weight: bold;
}

.cta-image-container {
  display: flex;
  justify-content: center; /* Align items vertically in the center */
  flex: 1;
  width: auto;
  margin: 0;
  padding: 0;
}

.cta-image {
  width: auto; /* Stretch the image to fill the available width */
  max-width: 8%; /* Ensure the image doesn't exceed its original size */
  height: auto;
  flex: 1;
  margin-right: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 20px;
}

.nav-link {
  cursor: pointer;
}

.cta {
  display: flex;
  gap: 10px;
}

.cta-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:nth-child(1) {
  background-color: #41f200;
  color: #262626;
}

.cta-button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #41f200;
  color: #41f200;
}

.metamask {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 999;
}