

  .manage-button {
    background-color: #07ff24;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.manage-button:hover {
    background-color: white;
    color: black;
}


.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #2f2f2f; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-width: 800px; 
}


.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px auto; /* Auto will center the cards horizontally */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px);
}

.text-table, .text-table th, .text-table td {
  color: white;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.text-table td.image-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: 110px;
}

.text-table img {
  width: 70px;
  margin-right: 10px;
}

.text-table th, .text-table td {
  width: 14.29%;
}

.option-button {
  position: relative;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--main-gradient);
  overflow: hidden;
  z-index: 1;
}

.option-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #031b03, #285c29);
  opacity: 0;
  transition: opacity 0.2s ease-in;
  z-index: -1;
}

.option-button:hover::before {
  opacity: 0.9;
}