/* LendingBorrowing.css and MintBurn.css */
.box1 {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.main-content {
  align-content: center;
}

.box-item {
  padding: 10px;
  cursor: pointer;
}

/* ConversionBox.css */
.conversion-box {
  display: flex;
  justify-content: space-between;
  width: 200px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.conversion-box input {
  width: 50%;
  padding: 10px;
  color: #000;
}

.converted-value {
  width: 50%;
  padding: 10px;
  color: #fff;
  background-color: #444;
}

.button-box {
  padding-bottom: 1vh;
}

.nft-button {
  background-color: #07ff24; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.nft-button:hover {
  background-color: #337436;
}

.back-button {
  background-color: white; /* Green */
  border: none;
  color: #07ff24;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.back-button:hover {
  background-color: #337436;
}

.lending-box-distance {
  padding-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}

.button-container {
  padding: 10px;
}

.refresh-nft-button {
  position: relative;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--main-gradient);
  overflow: hidden;
  z-index: 1;
}

.refresh-nft-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, #439d44, #092009);
  opacity: 0;
  transition: opacity 0.32s ease-in;
  z-index: -1;
}

.refresh-nft-button:hover::before {
  opacity: 1;
}